/* Grundläggande */
body {
  background-color: #f4f4f4;
  color: #000;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: red;
}

/* Rubriker */
h1 {
  color: #003366;
  text-align: center;
}

h2 {
  color: darkgreen;
  margin-bottom: 10px;
}

h3 {
  font-style: italic;
}